/* reset */
body {
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
}
header {
    z-index: 99;
}
a:hover {
    text-decoration: none;
    color: initial;
}

/* custom bs */
.w-full {
    width: 100%;
}
.w-24 {
    width: 24px;
}
.w-64 {
    width: 64px;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.bg-white {
    background-color: #F6F3F1;
}
.bg-white-200 {
    background-color: #EEEEEE;
}
.bg-cover {
    background-size: cover;
}
.bg-center {
    background-position: center center;
}
.bg-rounded-100-brown {
    background: #928883;
    border-radius: 24px;
}
.bg-rounded-8-brown {
    background: #928883;
    border-radius: 8px;
}
.bg-rounded-8-white {
    background: #fff;
    border-radius: 8px;
}
.bg-rounded-8-grey {
    background: #F6F3F1;
    border-radius: 8px;
}
.bg-grey {
    background: #F6F3F1;
}
.text-grey {
    color: #666666;
}
.text-grey-200 {
    color: #928883
}
.border-1-grey {
    border: 1px solid #EEEEEE;
}
.rounded-8 {
    border-radius: 8px;
}
.rounded-4 {
    border-radius: 4px;
}
.cursor-pointer {
    cursor: pointer;
}
.box-shadow-dark {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
}
.fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
}
.text-sm {
    font-size: 14px;
}
.text-lg {
    font-size: 18px;
}
.text-xl {
    font-size: 18px;
}
.text-2xl {
    font-size: 24px;
}
.text-4xl {
    font-size: 32px;
}
.ratio-horizontal {
    width: 100%;
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
}
.ratio-thumb-video{
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

/* custom swiper */
.swiper-wrapper {
    height: auto;
}
.jumbotron--nav {
    width: 64px;
    height: 64px;
    position: absolute;
}
.jumbotron--prev, .jumbotron--next {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    z-index: 1;
    background-size: cover;
    cursor: pointer;
    display: none;
}
.jumbotron--prev {
    background-image: url('../images/icons/arr-left.png');
    left: 9%;
}
.jumbotron--next {
    background-image: url('../images/icons/arr-right.png');
    right: 5%;
}
.tab-filters--prev, .tab-filters--next {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
    background-size: cover;
    cursor: pointer;
    width: 8px;
    height: 16px;
    margin: 0;
}
.tab-filters--prev {
    background-image: url('../images/icons/arr-left-white.png');
    left: 0;
    margin-left: 10px;
}
.tab-filters--next {
    background-image: url('../images/icons/arr-right-white.png');
    right: 0;
    margin-right: 10px;
}

.whyus--prev, .whyus--next {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
    background-size: cover;
    cursor: pointer;
    width: 8px;
    height: 16px;
    margin: 0;
}
.whyus--prev {
    background-image: url('../images/icons/arr-left-brown.png');
    left: 0;
    margin-left: 10px;
}
.whyus--next {
    background-image: url('../images/icons/arr-right-brown.png');
    right: 0;
    margin-right: 10px;
}
.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    display: none;
}
.swiper-pagination-bullet-active {
    background: #928883;
}
.filter-box {
    background-color: #928883;
    border-radius: 8px 8px 0 0;
}
.filter-menu {
    border-radius: 8px 8px 0 0;
    color: #fff;
}
.filter-menu {
    border-radius: 8px 8px 0 0;
}
.filter-menu .nonactive {
    display: none;
}
.partnership--prev, .partnership--next {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin: 0;
    background-size: cover;
    height: 32px;
    width: 16px;
    display: none;
}
.partnership--prev {
    margin-right: 32px;
}
.partnership--prev {
    background-image: url('../images/icons/arr-left-brown.png');
}
.partnership--next {
    background-image: url('../images/icons/arr-right-brown.png');
}


/* own style */
.sidebar {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform .4s cubic-bezier(.46,.54,.17,1),-webkit-transform .4s cubic-bezier(.46,.54,.17,1);
}
.sidebar.show {
    transform: translateX(0%);
}
.line-grey {
    width: 80px;
    height: 4px;
    background: #928883;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.line-grey.left{
    margin-left: 0;
}
.line-grey-full {
    width: 100%;
    height: 4px;
    background: #928883;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.youtube-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 58px;
}
.overlay {
    position: relative;
    width: 100%;
}
.overlay::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(62,57,54,0.75);
}
.custom-mt-section {
    margin-top: 65px;
}
footer {
    background: #333333;
}
.location-box {
    position: absolute;
    max-width: 400px;
    top: 24px;
    box-shadow: 4px 4px 6px rgb(0 0 0 / 25%);
    background-color: #fff;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    padding: 10px;
}
.location-box img {
    width: 32px;
    height: 32px;
}
.email-input {
    border: 1px solid #DDDDDD;
    border-radius: 8px;
}
.email-input:focus-visible {
    outline: none;
}
.btn-brown {
    background-color: #928883;
    color: #fff;
    padding: 8px 36px;
}
.floating-button-bottom {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,50%);
}
.filters .input-group-append {
    background-color: #fff;
}
.dropdown-menu {
    top: 16px !important;
}
.swiper--filters select {
    background-color: #fff;
    font-size: 16px;
    background-image: url('../images/icons/arr-bottom-grey.png');
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-position: 95% center;
    color: #999;
    background-size: 12px;
}

/* media query */
@media (min-width: 769px) {
    .filter-menu-border {
        border-right: 1px solid #eee;
    }
    .filter-menu-border:last-child {
        border-right: none;
    }
    
    .location-box {
        left: 24px;
        padding: 24px;
        transform: translateX(0%);
    }
    .custom-mt-section {
        margin-top: 160px;
    }
    .text-xl {
        font-size: 20px;
    }
    .text-2xl {
        font-size: 24px;
    }
    .text-4xl {
        font-size: 40px;
    }
    .ratio-thumb-video{
        padding-bottom: 56.25%;
    }
    .hang-top {
        margin-top: -60px;
        position: relative;
        z-index: 1;
    }
    .filter-box {
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translateX(-50%);
        background: white;
        z-index: 3;
        border-radius: 8px 8px 8px 8px;
    }
    .tab-filters--prev, .tab-filters--next, .whyus--prev, .whyus--next {
        display: none;
    }
    .partnership--prev, .partnership--next {
        display: block;
    }
    .swiper--tabFilters {
        overflow: visible;
    }
    .filter-menu {
        border-radius: 0 0 0 0;
        color: #333;
    }
    .filter-menu:first-child {
        border-radius: 8px 0 0 8px;
    }
    .filter-menu:last-child {
        border-radius: 0 8px 8px 0;
    }
    .filter-menu.active {
        background-color: #928883;
        color: #fff;
    }
    .filter-menu .nonactive {
        display: block;
    }
    .filter-menu .active {
        display: none;
    }
    .filter-menu.active .nonactive {
        display: none;
    }
    .filter-menu.active .active {
        display: block;
    }
    .swiper-pagination-bullet {
        display: block;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1040px;
    }
    .jumbotron--prev, .jumbotron--next {
        display: block;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}